
body {
  background: #efefef;
  font-family: sans-serif;
}

.breadcrumb, #header, site-footer {
  font-family: sans-serif;
}

.site-branding img {
  width: 300px;
}

.site-footer {
  background: #efefef;
  color: #000;
}

.site-footer .content,
.site-footer .content a {
  color: #000;
}

.site-footer .content a:hover,
.site-footer .content a:focus {
  color: #018fe2;
}

.site-footer a {
  color: #000;
}

.site-footer h2 {
  color: #000000;
}
.sidebar .block {
  background-color: #FFB100;
}

.sidebar .block .button:focus, .sidebar .block .button:hover, .sidebar .block a.button:focus, .sidebar .block a.button:hover {
  color: #000;
  background: #efefef none;
}

.sidebar h2 {
  font-size: 20px;
  line-height: 22px;
  border-bottom: none;
}

.sidebar .block input.form-text {
  padding: 10px;
}

.block .button, .block a.button {
  background: #FF5C00 none;
  border: 0;
  padding: 10px 15px;
  color: #FFF;
  margin-left: 0;
  border-radius: 5px;
  text-decoration: none;
}

.button.search-form__submit {
  background: #FF5C00 url(../images/loupe.svg) no-repeat center;
}

#header {
  background-size: cover;
  background: url('../images/header-background.jpg') no-repeat 100% 100%;
}

@media all and (min-width: 851px) {

  #header {
    height: 200px;
    background: url('../images/header-background.jpg') no-repeat 100% 100%;
    background-size: cover;
  }

  .path-frontpage #header {
    height: 550px;
    background: url('../images/header-background-front.jpg') no-repeat 100% 100%;
    background-size: cover;
  }

  #header .layout-container {
    height: 100%;
  }

  .region-header {
    padding: 0;
  }

  .region-primary-menu {
    bottom: 0;
    position: absolute;
  }
}

.site-branding__name {
  text-shadow: 1px 1px 2px #000000;
}

.site-footer__top .region-footer {
  display: flex;
  width: 100%;
}

.caption > * {
  box-sizing: border-box;
}
